/* google font lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* -----> primary <-----*/
p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 28px;
    border: none;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background: #9dd809;
}

/* -----> primary end <----- */

/* header section  */
header,
#hot-deal {
    background: #E554731A;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: 12rem;
    letter-spacing: 0%;
    text-align: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
}

#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.section-content .flower .flower-img {
    background-color: #eb9cad;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 25px;
    height: 500px;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-img img {
    width: 100%;
}

.section-content .flower .pink {
    background: #A72162;
}

.section-content .flower .blue {
    background: #0597A0;
}

.section-content .flower .green {
    background: #477D11;
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
}

.flower-section {
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 30px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flower-top {
    margin-top: 20px;
}

.hot-deal-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px;
}

#hot-deal .hot-deal-text {
    width: 75%;
    max-width: 550px;
    text-align: center;
}
#hot-deal .hot-deal-text *{
    margin-bottom: 24px;
}
#hot-deal .hot-deal-text h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.hot-deal .hot-deal-img {
    max-width: 318px;
}
#hot-deal .hot-deal-text h2 .important {
    color: #E55473;
}